Repository Perytron/UZH, pull requests merged in 2022-11, with the labels that each got.

#20 Clean up 8.5 file structure and add 9.1 solution
  Informatics I/8 Object-Oriented Programming/Task 5 Restaurant/public/CC solution/CCitem.py
  Informatics I/8 Object-Oriented Programming/Task 5 Restaurant/public/CC solution/CCorder.py
  Informatics I/8 Object-Oriented Programming/Task 5 Restaurant/public/CC solution/CCscript.py
  Informatics I/8 Object-Oriented Programming/Task 5 Restaurant/public/CC solution/CCtests.py
  Informatics I/9 Inheritance/Task 1 Combat Mechanics/public/CC solution/CCcharacter.py
  Informatics I/9 Inheritance/Task 1 Combat Mechanics/public/CC solution/CCknight.py
  Informatics I/9 Inheritance/Task 1 Combat Mechanics/public/CC solution/CCmage.py
  Informatics I/9 Inheritance/Task 1 Combat Mechanics/public/CC solution/CCrogue.py
Labels: enhancement

#29 emergency invalid path fix
  Informatics I/10 Modularization and Git/Task 2 Git Init, Add, Commit/description.md
  Informatics I/10 Modularization and Git/Task 2 Git Init, Add, Commit/public/CC solution/script.sh
  Informatics I/10 Modularization and Git/Task 2 Git Init, Add, Commit/public/script.sh
  Informatics I/10 Modularization and Git/Task 2 Git Init, Add, Commit/public/tests.py
  Informatics I/10 Modularization and Git/Task 3 Git Clone & Push/description.md
  Informatics I/10 Modularization and Git/Task 3 Git Clone & Push/public/script.sh
  Informatics I/10 Modularization and Git/Task 3 Git Clone & Push/public/tests.py
Labels: bug

#32 Add 10.3 solution and rename 10.2 cc solution
  Informatics I/010 Modularization and Git/Task 2 Git Init, Add, Commit/public/CC solution/CCscript.sh
  Informatics I/010 Modularization and Git/Task 3 Git Clone & Push/public/CC solution/CCscript.sh
Labels: solution

#35 Ex9 T4: upload solution
  Informatics I/009 Inheritance/Task 4 Geometric Objects/public/Perytron solution/cone.py
  Informatics I/009 Inheritance/Task 4 Geometric Objects/public/Perytron solution/cube.py
  Informatics I/009 Inheritance/Task 4 Geometric Objects/public/Perytron solution/cylinder.py
  Informatics I/009 Inheritance/Task 4 Geometric Objects/public/Perytron solution/geometric_object.py
Labels: solution

#36 Add 10.1 solution with types
  Informatics I/010 Modularization and Git/Task 1 International Banking/public/CC solution/CCbank_account.py
  Informatics I/010 Modularization and Git/Task 1 International Banking/public/CC solution/CCcurrency_converter.py
Labels: solution

#37 Add 10.4 solution
  Informatics I/010 Modularization and Git/Task 4 Git Branches & Merging/public/CC solution/CCscript.sh
Labels: solution
