Repository Perytron/UZH, pull requests merged in 2022-12, with the labels that each got.

#41 28 update readme
  README.md
Labels: documentation, enhancement

#38 Add Patertuck Solution 10.1
  Informatics I/010 Modularization and Git/Task 1 International Banking/Patertuck Solution/bank_account.py
  Informatics I/010 Modularization and Git/Task 1 International Banking/Patertuck Solution/currency_converter.py
  Informatics I/010 Modularization and Git/Task 1 International Banking/tests.py
Labels: solution

#39 Added Psolution on Exercise 10 Task 1
  Informatics I/010 Modularization and Git/Task 1 International Banking/public/Psolution/bank_account.py
  Informatics I/010 Modularization and Git/Task 1 International Banking/public/Psolution/currency_converter.py
Labels: solution

#43 Add Paul891112 Solution 10.1
  Informatics I/010 Modularization and Git/Task 1 International Banking/Paul891112 Solution/bank_account.py
  Informatics I/010 Modularization and Git/Task 1 International Banking/Paul891112 Solution/currency_converter.py
Labels: solution

#46 Add Perytron Solution 10.1
  Informatics I/010 Modularization and Git/Task 1 International Banking/Perytron Solution/bank_account.py
  Informatics I/010 Modularization and Git/Task 1 International Banking/Perytron Solution/currency_converter.py
Labels: solution

#47 Improve 9.3 solution
  Informatics I/009 Inheritance/Task 3 Car Types/C0DECYLE Solution/hybrid_car.py
Labels: enhancement, solution, refactor

#48 Update Readme according to issue
  README.md
Labels: enhancement

#49 Add template ex.11
  Informatics I/011 Word Game and Comprehensions/Task 1 List and Dict Comprehensions/Template/description.md
  Informatics I/011 Word Game and Comprehensions/Task 1 List and Dict Comprehensions/Template/public/data.py
  Informatics I/011 Word Game and Comprehensions/Task 1 List and Dict Comprehensions/Template/public/script.py
  Informatics I/011 Word Game and Comprehensions/Task 1 List and Dict Comprehensions/Template/public/tests.py
  Informatics I/011 Word Game and Comprehensions/Task 1 List and Dict Comprehensions/Template/resource/words.txt
  Informatics I/011 Word Game and Comprehensions/Task 2 Hex-Code Generator/Template/description.md
  Informatics I/011 Word Game and Comprehensions/Task 2 Hex-Code Generator/Template/public/script.py
  Informatics I/011 Word Game and Comprehensions/Task 2 Hex-Code Generator/Template/public/tests.py
  Informatics I/011 Word Game and Comprehensions/Task 3 Word-Similarity Computation/Template/description.md
  Informatics I/011 Word Game and Comprehensions/Task 3 Word-Similarity Computation/Template/public/script.py
  Informatics I/011 Word Game and Comprehensions/Task 3 Word-Similarity Computation/Template/public/tests.py
  Informatics I/011 Word Game and Comprehensions/Task 3 Word-Similarity Computation/Template/resource/words.txt
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/Template/description.md
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/Template/public/game_logic.py
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/Template/public/number_logic.py
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/Template/public/tests.py
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/Template/public/word_logic.py
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/Template/resource/words.txt
Labels: template

#52 Add 11.2 solution with types
  Informatics I/011 Word Game and Comprehensions/Task 2 Hex-Code Generator/C0DECYCLE Solution/script.py
Labels: solution

#56 Clarify Readme
  README.md
Labels: enhancement

#57 Update Readme: change example
  README.md
Labels: refactor

#58 Add 11.1, 11.2, 11.3, 11.4 solution
  Informatics I/011 Word Game and Comprehensions/Task 1 List and Dict Comprehensions/Paul891112 Solution/script.py
  Informatics I/011 Word Game and Comprehensions/Task 2 Hex-Code Generator/Paul891112 Solution/script.py
  Informatics I/011 Word Game and Comprehensions/Task 3 Word-Similarity Computation/Paul891112 Solution/script.py
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/Paul891112 Solution/game_logic.py
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/Paul891112 Solution/number_logic.py
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/Paul891112 Solution/playgame.py
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/tests.py
Labels: solution

#59 Add 10.2, 10.3, 10.4 Solution Patertuck
  Informatics I/010 Modularization and Git/Task 2 Git Init, Add, Commit/Patertuck Solution/script.sh
  Informatics I/010 Modularization and Git/Task 3 Git Clone & Push/Patertuck Solution/script.sh
  Informatics I/010 Modularization and Git/Task 4 Git Branches & Merging/Patertuck Solution/script.sh
Labels: solution

#60 Add 'cleanup' section to Readme
  README.md
Labels: documentation

#61 Add 11.4 solution with types
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/C0DECYCLE Solution/game_logic.py
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/C0DECYCLE Solution/number_logic.py
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/C0DECYCLE Solution/word_logic.py
Labels: solution

#62 Exercise 011 Task 1,2,3,4 Solution Patertuck
  Informatics I/011 Word Game and Comprehensions/Task 1 List and Dict Comprehensions/Patertuck Solution/script.py
  Informatics I/011 Word Game and Comprehensions/Task 1 List and Dict Comprehensions/tests.py
  Informatics I/011 Word Game and Comprehensions/Task 2 Hex-Code Generator/Patertuck Solution/script.py
  Informatics I/011 Word Game and Comprehensions/Task 3 Word-Similarity Computation/Patertuck Solution/script.py
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/Patertuck Solution/game_logic.py
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/Patertuck Solution/number_logic.py
  Informatics I/011 Word Game and Comprehensions/Task 4 Abstract Classes and NumberGame Logic/Patertuck Solution/word_logic.py
Labels: solution

#64 Got full points for this one
  Informatics I/009 Inheritance/Task 3 Car Types/Yuirike Solution/car.py
  Informatics I/009 Inheritance/Task 3 Car Types/Yuirike Solution/combustion_car.py
  Informatics I/009 Inheritance/Task 3 Car Types/Yuirike Solution/electric_car.py
  Informatics I/009 Inheritance/Task 3 Car Types/Yuirike Solution/hybrid_car.py
  Informatics I/009 Inheritance/Task 3 Car Types/Yuirike Solution/script.py
  Informatics I/009 Inheritance/Task 3 Car Types/tests.py
Labels: solution

#65 Ex06, T3 Submission
  Informatics I/006 Mixed treats/Task 3 Data processing/Yuirike Solution/script.py
Labels: solution
