Repository Perytron/UZH, pull requests merged in 2023-03, with the labels that each got.

#76 Add 001 task 3 solution
  Informatics II/001/Task 3/C0DECYCLE Solution/task3.c
Labels: solution

#77 Patertuck Solution for Info2 Exercise 1 Task 2
  Informatics II/001/Task 2/Patertuck Solution/Task2.c
Labels: solution

#79 Info2-001-02: Add solution
  Informatics II/001/Task 2/Perytron Solution/E001T02_Perytron.c
Labels: solution

#81 ReadMe: Add commit message convention
  README.md
Labels: documentation

#80 Info2 001 03 patertuck solution
  Informatics II/001/Task 3/Patertuck Solution/Task3.c
Labels: solution

#83 Info2-001-02: Add solution
  Informatics II/001/Task 2/Yuirike Solution/Task2-GeneralCase.c
  Informatics II/001/Task 2/Yuirike Solution/Task2.c
Labels: solution

#84 Revert "Info2-001-02: Add solution"
  Informatics II/001/Task 2/Yuirike Solution/Task2-GeneralCase.c
  Informatics II/001/Task 2/Yuirike Solution/Task2.c
Labels: bug

#87 Info2-002-04: Add solution
  Informatics II/002/Task4.c
Labels: solution

#88 Info2 002 04 patertuck solution folder
  Informatics II/002/Patertuck solution/Task4.c
Labels: solution, refactor

#89 Info2 002 04 patertuck solution
  Informatics II/002/Task4.c
Labels: refactor

#85 Update ReadMe: Only add code-files, verify solution
  README.md
Labels: documentation

#86 Info2 001 02 yuirike solution
  Informatics II/001/Task 2/Yuirike Solution/Task2_nxn.c
Labels: solution, refactor

#90 Info2-002-03-04-C0DECYCLE-solution-and-clean-up
  Informatics II/000/Task 3/Eposs111 Solution/Pseudocode.txt
  Informatics II/000/Task 3/Eposs111 Solution/main.c
  Informatics II/001/Template/ex01solution.pdf
  Informatics II/002/Task 3/C0DECYCLE Solution/task3.c
  Informatics II/002/Task 4/C0DECYCLE Solution/task4.c
  Informatics II/002/Task 4/Patertuck solution/Task4.c
  Informatics II/002/Template/ex02.pdf
  Informatics II/002/Template/ex02solution.pdf
  Informatics II/003/Template/ex03.pdf
  Informatics II/003/Template/task1.c
Labels: solution, refactor, template

#92 ReadMe: Update PR naming convention
  README.md
Labels: documentation

#93 ReadMe: Update
  README.md
Labels: documentation

#91 Info2-002-04: Yuirike solution
  Informatics II/002/Task 4/Yuirike Solution/Task4A1.c
Labels: help wanted, solution

#95 Info2-003-01: C0DECYCLE solution
  Informatics II/003/Task 1/C0DECYCLE Solution/task1.c
Labels: solution

#96 Info2-003-01: Fix C0DECYCLE solution
  Informatics II/003/Task 1/C0DECYCLE Solution/task1.c
Labels: bug, solution

#97 Info2-003-01: Add solution
  Informatics II/003/Task 1/Patertuck Solution/task1.c
Labels: solution

#102 Info2-004-01-02: Add solution and template
  Informatics II/004/Task 1/C0DECYCLE Solution/task1.c
  Informatics II/004/Task 2/C0DECYCLE Solution/task2.c
  Informatics II/004/Template/Ex04.pdf
  Informatics II/004/Template/sol04.pdf
Labels: solution, template

#98 Info2-003-01: Add solution
  Informatics II/003/Task 1/Perytron Solution/task1.c
Labels: solution

#100 Info2-004-01-02: Add solution
  Informatics II/003/Task 1/Paul891112 Solution/task1.c
  Informatics II/004/Task 1/Paul891112 Solution/task1.c
  Informatics II/004/Task 2/Paul891112 Solution/task2.c
Labels: solution

#105 Info2-lecture: Twhining quicksort implementation
  Informatics II/Lectures/Twihning/quicksort.c
Labels: solution, exercise

#107 Info2-005-01-03: Add solution
  Informatics II/005/Task 1/C0DECYCLE Solution/task1.c
  Informatics II/005/Task 3/C0DECYCLE Solution/task3.c
  Informatics II/005/Template/ex05.pdf
  Informatics II/005/Template/sol05.pdf
Labels: solution, template

#108 Info2-005-01-03: Add solution
  Informatics II/005/Task 1/Paul891112 Solution/task1.c
  Informatics II/005/Task 3/Paul891112 Solution/task3.c
Labels: solution
