Repository Perytron/UZH, pull requests merged in 2023-02, with the labels that each got.

#67 Add 000 task 3 solution
  Informatics II/000/Task 3/C0DECYCLE Solution/task3.c
  Informatics II/000/Task 3/C0DECYCLE Solution/task3.txt
Labels: solution, proposal

#66 Update ReadMe
  README.md
Labels: documentation

#69 Add 001 task 2 solution and template
  Informatics II/000/Template/Ex00.pdf
  Informatics II/000/Template/search.c
  Informatics II/000/Template/solution3.c
  Informatics II/001/Task 2/C0DECYCLE Solution/task2.c
  Informatics II/001/Template/Exercise+01.pdf
Labels: solution, template

#70 Info2 000 03 Patertuck solution
  Informatics II/000/Task 3/Patertuck Solution/Ex00 Pseudocode.txt
  Informatics II/000/Task 3/Patertuck Solution/Ex00_patertuck.c
Labels: solution

#73 Add Solution to Task 3
  Informatics II/000/Task 3/Eposs111 Solutions/Pseudocode.txt
  Informatics II/000/Task 3/Eposs111 Solutions/main.c
Labels: solution

#72 Update ReadMe
  README.md
Labels: documentation

#74 Info2 001 02 eposs111 solution
  Informatics II/000/Task 3/Eposs111 Solutions/main.c
  Informatics II/001/Task 2/Eposs111 Solution/main.c
Labels: solution
